doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block css   
    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    title TurtleMQ
  body 
    block header 
      include partials/header      
      
    block content 

    block footer 
      include partials/footer