extends  layout.pug 
block head 
  script(src='/public/plugins/dayjs.min.js')
  script(src='/public/plugins/jquery.flot.js')
  script(src='/public/plugins/bootstrap.bundle.min.js')  
  link(rel="stylesheet", href="/public/css/monitor.css")
  

block content 
  // interactive chart
  .container.queue-container
    .container.mt-4.d-flex.justify-content-between.align-items-center
      .left-info
        button.btn.btn-primary.btn-block(type='button' data-bs-toggle='modal' data-bs-target='#produceModal')
          | Produce +
        button.btn.btn-primary.btn-block(type='button' data-bs-toggle='modal' data-bs-target='#consumeModal')
          | Consume -
      .right-info.d-flex
        .dropdown
          button.dropbtn Master
          .dropdown-content
            a(href='#') localhost:3000
        .dropdown
          button.dropbtn Replica
          .dropdown-content
            a(href='#') 18.121.234.561:3001
            a(href='#') localhost:3002
            a(href='#') localhost:3003
        
    #produceModal.modal
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4.modal-title Produce Message
            button.btn-close(type='button' data-bs-dismiss='modal')
          .modal-body
            form.row.g-3.needs-validation-produce(novalidate='')
              div
                label.form-label(for='validationCustomUsername') Queue
                .input-group.has-validation
                  input.form-control#produce-queue(type='text' aria-describedby='inputGroupPrepend' required)
                  .invalid-feedback
                    | Please input a queue name.
              div
                label.form-label(for='validationCustomUsername') Message
                .input-group.has-validation
                  input.form-control#produce-messages(type='text' aria-describedby='inputGroupPrepend' required)
                  .invalid-feedback
                    | Please type some messages.
              .modal-footer
                button.btn.btn-primary(type='submit') Produce

    #consumeModal.modal
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4.modal-title Consume Message
            button.btn-close(type='button' data-bs-dismiss='modal')
          .modal-body
            form.row.g-3.needs-validation-consume(novalidate='')
              div
                label.form-label(for='validationCustomUsername') Queue
                .input-group.has-validation
                  input.form-control#consume-queue(type='text' aria-describedby='inputGroupPrepend' required)
                  .invalid-feedback
                    | Please input a queue name.
              div
                label.form-label(for='validationCustomUsername') Quantity
                .input-group.has-validation
                  input.form-control#consume-quantity(type='number' min='1' aria-describedby='inputGroupPrepend' required)
                  .invalid-feedback
                    | Please fill in a positive number.
              .modal-footer
                  button.btn.btn-primary(type='submit') Consume

    #chart-container
    section
      span.trash
        span
        i
  script(src='/public/js/monitor.js')
  