:root {
  --dark-green: #3a5a40;
  --background-primary: #e5e5e5;
  --hover-green: #7e9971;
  --green: #588157;
}

*{ 
  /* font-family: "Lucida Grande"; */
  font-family: 'FEDORA', sans-serif;
                                                
}

*,*::after,*::before {
  box-sizing: border-box;
}

body {  
  letter-spacing: 1px;
  font-size: 24px;
  background-color: var(--background-primary);
  min-height: 100vh;
}

a {
  color: var(--dark-green);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: white;
}

header {
  background: var(--hover-green);
  padding: 20px 40px;
  
}

.logo {                                                
  width: 150px;
  /* margin-right: -15px; */
}

.title {
  font-family: 'Want Coffee', sans-serif;  
  color: var(--dark-green);
  padding: 10px 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-mq {
  font-family: 'Want Coffee', sans-serif;
  color:#758173;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  cursor: pointer;
  color: #797979;
  font-size: 30px;
  padding: 10px 16px;
}

.btn {
  border-radius: 32px;
  
  border: none;
  margin-right: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #588157;
  color: #FFF;  
}

.btn-primary:first-child:hover, :not(.btn-check)+.btn-primary:hover{
  background-color: var(--hover-green);
  color: #000;
}


.input-group-prepend {
  text-align: center;
  width: 90px;
}

.input-group-text {
  text-align: center;
}

footer {
  margin-top: 24px;
  background: #344e41;
  padding: 20px 40px;  
}

.copyright {
  color: #bdc5c1;
}