.dropbtn {
  background-color: #e5e5e5;
  width: 100px;
  color: var(--green);
  padding: 4px 0;
  border: none;
  border-radius: 16px;
  letter-spacing: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-primary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 16px;
}

.status {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background-color: var(--green);
  border-radius: 50%;
}

.unhealthy {
  background-color: red;
}

.dropdown-item {
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
} 

.dropdown-item:hover {
  cursor: pointer;
  background-color: #d3ddce;
  border-radius: 16px;
} 

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: var(--hover-green); */
  color: var(--hover-green);
}

.setting {
  margin-left: 8px;
  cursor: pointer;
  color: var(--green);
  line-height: 1;
  font-size: 24px;
}

.setting:hover {
  color: var(--hover-green);
}

.queue-container {
  margin-bottom: auto;
}
.left-bar {
  width: 80%;
}
.right-bar {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.progress-bar-container {
  cursor: pointer;
}

.progress-bar-container:hover .fa-chevron-up{
  color: var(--green);
}

.progress-bar-holder{
  width: 50%;
  background-color: #f5f5f5;
  padding: 0.2em;
  margin: 0.5em 0.2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progress-bar{
  height: 40px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  background: var(--green);
  width: 10%;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tooltip-inner {
  max-width: 200px;
  padding: .25rem .5rem;
  color: #ccc;
  text-align: center;
  background-color: #000;
  border-radius: .25rem;
} 

.btn {
  border-radius: 24px;  
  border: none;
  margin-right: 20px;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 1.5;
  background-color: var(--green);
  color: #FFF;  
}

.btn-primary:first-child:hover, :not(.btn-check)+.btn-primary:hover{
  background-color: var(--hover-green);
  color: #000;
}

.btn-danger {
  background-color: var(--danger) !important;
}
.btn-danger:hover, .btn-danger:active  {
  background-color: var(--danger-hover) !important;
}


.input-group-prepend {
  text-align: center;
  width: 90px;
}

.input-group-text {
  text-align: center;
}

.modal-title {
  font-size: 36px;
}

.form-control {
  font-size: 24px;
  letter-spacing: 2px;
}

.card-body {
  position: relative;
  transition: 0.5s;
  height: 410px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  border: var(--green) 1px solid;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fold-card {
  height: 100px;
}

.interactive-wrap {
  position: absolute; 
  top: 100px;
  width: 100%;
  height: 100%;
}

.turtle-icon {
  margin-left: 36px;
  width: 40px;
}

.progress-bar-holder{
  margin-left: 8px;
}

.queue-size {
  margin-right: 40px;
  width:20%
}

.queue-name {
  margin-left: 8px;
  width: 20%;
  font-size: 24px;
}

.delete-btn {
  margin-right: 24px;
}


.fa-trash-can {
  line-height: 1.5;
  padding: 0 10px;
}

.fa-trash-can:hover {
  color: var(--danger);
}

.fa-chevron-up {
  margin-right: 24px;
  line-height: 1.5;
  color: var(--dark-green);
  transform: rotate(0deg);
  /* transition: 0.6s !important; */
}

.card-body .fa-chevron-up.active{
  transform: rotate(180deg);
}

.swal2-styled.swal2-confirm {
  width: 90px;
  background-color: var(--green);
  line-height: 1;
  letter-spacing: 2px;
  border-radius: 32px;
}

.master, .replica {
  margin-left: 8px;
  color:var(--green)
}

.master-ip, .replica-ip {
  color:black
}

.produce-success {
  display: none;
  margin-bottom: 0;
  font-size: 16px;
  color: green;
}