header
  .container.d-flex.justify-content-between.align-items-center
    a.header-left.d-flex.align-items-center(href="/")
      img.logo(src="/public/images/turtlequeue.png", alt="")
      h1.title Turtle
        span.title-mq MQ
    .header-right.d-flex.align-items-center
      nav
        a.about(href="/") About 
      nav.dropdown-nav 
        a.document(href="/") Document
        .dropdown-nav-content(href="/")
          a.dropdown-nav-item.d-flex.align-items-center(target="_blank" href="https://www.npmjs.com/package/tmqp-client")
            img.nav-icon(src="/public/images/npm-icon.svg", alt="", srcset="")
            .page tmqp-client
          a.dropdown-nav-item.d-flex.align-items-center(target="_blank" href="https://github.com/kai5363/tmqp-client/")
            img.nav-icon(src="/public/images/github-logo.png", alt="", srcset="")
            .page tmqp-client
          a.dropdown-nav-item.d-flex.align-items-center(target="_blank" href="https://github.com/kai5363/turtlemq/")
            img.nav-icon(src="/public/images/github-logo.png", alt="", srcset="")
            .page turtlemq
          a.dropdown-nav-item.d-flex.align-items-center(target="_blank" href="https://github.com/kai5363/turtlekeeper/")
            img.nav-icon(src="/public/images/github-logo.png", alt="", srcset="")
            .page turtlekeeper
      nav
        if isLogout
          a.logout(href="/login") Login
        else
          a.logout(href="/api/1.0/user/logout") Logout