header
  .container.d-flex.justify-content-between.align-items-center
    a.header-left.d-flex.align-items-center(href="/")
      img.logo(src="/public/images/turtlequeue.png", alt="")
      //- img.logo(src="/public/images/turtle.png", alt="")
      //- img.logo(src="/public/images/turtle.png", alt="")
      h1.title Turtle
        span.title-mq MQ
    .header-right.d-flex.align-items-center
      nav
        a.about(href="/") About 
      nav
        a.document(href="/") Document
      nav
        a.logout(href="/api/1.0/user/logout") Logout